html {
  box-sizing: border-box;
}

*, *::before,*::after {
  box-sizing: inherit;
}

body {
	background: white;
	font-size: 1vw;
	font-family: Arial, sans-serif;
	margin: 0 auto;
	margin-top: 100px;
	width: 100%;
}

a, p, h1, h2, li {
	list-style: none;
	margin:0;
	padding:0;
	text-decoration: none;
}

header {
	background: white;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	position: fixed; /* Set the navbar to fixed position */
	top: 0;
	width: 100%; /* Full width */
	z-index: 99;
	padding: 4px 0 13px ;
}

header img {
	width: 100%;
	height: auto;
}

.navbar ul {
	display: flex;
	flex-wrap: wrap;
	font-weight: bold;
	font-size: 1.4vw;
	margin-bottom: 0.3125em; /* 5/16 */
}

.navbar ul li:last-child {
	color: rgb(236,84,74);
	margin-left: 6.25em; /* 100/16 */
}

.navbar ul li a {
	padding: 1.66em 1.125em;
	color: black;
}

.navbar ul li a:hover {
	border-bottom: 5px solid red;
}

.tel i {
	margin-right: 5px;
}

main .main_img {
	width: 100%;
	height: 600px;
	object-fit: cover;
	filter: grayscale(100%);
}

main .slider {
	width: 100%;
	height: auto;
	position: relative;
}

.pixel-overlay {
	background:url(
	'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAP0lEQVQoU42Q0QoAIAgDz///aMPAKKeQb26HTg0tB6zKVUhI4Bus5tMn2K4Djh7gBGXM7Uvo5riQ/BfUNwwTWfn+Cgg4zkoRAAAAAElFTkSuQmCC') repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
}

.right i,
.left i {
	position: absolute;
	top: 35%;
	font-size: 50px;
	color: white;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: rgb(236,84,74,0.9);
	padding: 60px 30px;
}

.right i {
	right: 0;
}

.image-bar ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px;
	margin: 0;
	width: 100%;
	background:rgb(236,84,74);
}


.image-bar li {
	display: flex;
	flex-direction: column;
	padding: 20px 30px;
	max-width: 270px;
	text-align: center;
}

.image-bar p,
.image-bar h1 {
	color: white;
}

.image-bar p {
	font-size: 1.1vw;
}

.image-bar li i,
.contain .fa-quote-right,
.contacts ul li i {
	width: 60px;
	height: 60px;
	padding-top: 14px;
	margin-bottom: 15px;
	font-size: 25px;
	text-align: center;
	border: 4px solid white;
	border-radius: 50%;
}

.image-bar li i {
	width: 60px;
	height: 60px;
	padding-top: 14px;
	margin-bottom: 15px;
	font-size: 25px;
	text-align: center;
	border: 4px solid white;
	border-radius: 50%;
}

.image-bar .title_wrapper {
	height: 50px;
}

.image-bar h1 {
	text-transform: uppercase;
	font-size: 1.4vw;
	margin-bottom: 5px
}

.skills {
	width: 100%;
	height: auto;
	position: relative;
}

.skills img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	position: relative;
}

.layer {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.skills .skills_container {
	width: 100%;
	height: auto;
	position: absolute;
	top: 8%;
	left: 0;
	right: 0;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center
}

.skills_container div {
	width: 100%;
	height: auto;
}


.skills .contain {
	max-width: 400px;
	font-size: 50px;
	color: white;
	text-align: center;
	padding: 30px 30px;
	line-height: 20px
	}

.dart-right,
.dart-left {
	max-width: 20px;
	margin: 0 200px
}

.dart-right i,
.dart-left i {
	color: white;
	font-weight: bold;
	font-size: 1.9vw;
}

.dart-right i:hover,
.dart-left i:hover {
	color: rgb(236,84,74);
}

.contain p,
.contain h1 {
	color: white;
}

.contain p {
	font-weight: lighter;
	font-size: 1.1vw;
}

.contain .fa-quote-right {
	background: rgb(236,84,74);
}

.contain h1 {
	text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 15px
}


.form-map {
	position: relative;
}

.contact-form {
	position: absolute;
	top: 0;
	right: 0;
	width: 500px;
	height: 545px;
	background: rgb(236,84,74, 0.9);
	font-family: sans-serif;
	color: white;
}

.contact-form h1 {
	margin-top: 30px;
	text-transform: uppercase;
	text-align: center
}

.input-fields {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

input,
textarea,
select{
	background: transparent;
	text-align: left;
	border: 2px solid white;
	color: black;
	padding: 7px;
	margin: 10px 30px;
}

textarea {
	height: 180px;
	color: white;
}

::placeholder, select { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

div .btn {
	text-align: center;
	margin-top: 20px;
}

.btn a {
	width: 300px;
	background: white;
	color: rgb(236,84,74);
	padding: 10px 40px;
	font-size: 20px;
	font-weight: bold;
}

.btn a:hover {
	background: rgb(0,0,0,0.8);
	color: white;
	border: 2px solid white;
}

.contacts {
	width: 100%;
	height: auto;
	background: rgb(0,0,0,0.8);
}

.contacts ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.contacts ul li i {
	background: rgb(236,84,74);
	margin: 0;
	margin-right: 15px;
}

.contacts ul li {
	width: 280px;
	padding: 25px 0;
	color: white;
}

.contacts ul p {
	font-size: 20px;
	font-weight: bold;
}

footer {
	text-align: center;
	color: grey;
	padding: 15px;
}

